name: "Test"
on:
  pull_request:
  push:
  schedule:
    - cron:  '0 0 * * *'
jobs:
  tests:
    strategy:
      matrix:
        channel: [19.03, 19.09, unstable]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: cachix/install-nix-action@v6
    - run: nix run nixpkgs.hlint -c hlint src
    - run: nix-build -I nixpkgs=https://github.com/NixOS/nixpkgs-channels/archive/nixos-${{ matrix.channel }}.tar.gz release.nix
