name: "Test"
on:
  pull_request:
  push:
jobs:
  tests:
    strategy:
      matrix:
        channel: [19.03, 19.09, 20.03, 20.09, unstable]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: cachix/install-nix-action@v12
    - run: nix run -I nixpkgs=channel:nixos-unstable nixpkgs.hlint -c hlint src
    - run: nix-build -I nixpkgs=channel:nixos-${{ matrix.channel }} release.nix
